body {
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* first part css  */
.cover-container {
    display: flex;
    width: 1250px;
    height: 500px;
    background-color: rgb(15, 15, 15);
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 100px;

}

.cover-text {
    color: white;
}

h1 {
    font-size: 6ex;
    font-weight: 900;
}

.cover-text {
    margin-left: 80px;

}

.cover-text {
    width: 50%;
}

.cover-image {
    margin-left: 200px;
}


.cover-image,
img {
    width: 100%;

}

.Watch-Live {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 2ex;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;

}

/* End of first part css  */
.all-main {
    margin-bottom: 100px;
    display: flex;

}

.samll-box-xontainer {
    height: 210px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.959);
    margin-left: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.box-1 {
    height: 40px;
    width: 150px;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    text-decoration: none;
    color: black;
    font-size: 2ex;
    font-weight: 800;



}


.box-2 {
    height: 40px;
    width: 150px;
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 2ex;
    font-weight: 800;
    text-decoration: none;
    color: black;
    font-size: 2ex;
    font-weight: 800;
}

.box-3 {
    height: 40px;
    width: 150px;
    background-color: red;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    text-align: center;

    color: white;
    font-size: 2ex;
    font-weight: 800;
    text-decoration: none;
}

/* player box start here  */
.player-box-main-1 {
    height: 290px;
    width: 250px;
    border: 1px solid rgb(209, 206, 206);
    border-radius: 10px;
    font-size: 2ex;
    font-weight: 700;
    margin-left: 30px;

}

.sm-box {
    height: 25px;
    width: 80px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;


}

.player-box-main-1,
.big-box-1,
img {
    width: 250px;
}

.live {
    margin-left: 10px;
}

.icone {
    display: flex;
}

.message {
    margin-left: 50px;
}

.time {
    margin-left: 10px;
}